<IfModule mod_rewrite.c> 
RewriteEngine on
#RewriteCond %{HTTP_HOST} ^cocodiy.com [NC]
#RewriteRule ^(.*)$ http://www.cocodiy.com/$1 [L,R=301]
#RewriteRule (.*)A(.*) $1B$2 [QSA,PT,N]
#product/p-2ps-3.html product/p/2ps.html  product/p/2ps/3.html product/p/2/ps/3.html
#product/p-2ps-3o-idok-asc.html product/p/2ps3o-idok-asc.html  product/p/2ps/3o-idok-asc.html product/p/2/ps/3o-idok-asc.html product/p/2/ps/3o-idok-asc.html 
#product/p-2.html
#RewriteRule (.*) index.php/$1 [QSA,PT,N]
RewriteRule (.*)-p-(.*) $1/p/$2 [QSA,PT,N]
RewriteRule (.*)-ps-(.*) $1/ps/$2 [QSA,PT,N]
RewriteRule (.*)-o-(.*) $1/oby/$2 [QSA,PT,N]
RewriteRule (.*)-ps-(.*) $1/ps/$2 [QSA,PT,N]
RewriteRule (.*)-ok-asc(.*) $1/okey/asc$2 [QSA,PT,N]
RewriteRule (.*)/cate-(.*) $1/index/cate_id/$2 [QSA,PT,N]
#products
RewriteRule ^gloves(.*) index.php/Product$1 [QSA,PT,N]
RewriteRule (.*)Product/id-(.*) $1/Product/view/product_id/$2 [QSA,PT,L]
#News
RewriteRule ^article(.*) index.php/News$1 [QSA,PT,N]
RewriteRule (.*)News/id-(.*) $1/News/view/news_id/$2 [QSA,PT,L]

errorDocument 404 /404.html
</IfModule>