<IfModule mod_rewrite.c> 
RewriteEngine on
#RewriteCond %{HTTP_HOST} ^cocodiy.com [NC]
#Index MOD
RewriteRule ^Index\.html$ h.php/Index/index [QSA,PT,L]
RewriteRule ^service\.htm$ h.php/Index/service [QSA,PT,L]
RewriteRule ^contact\.htm$ h.php/Index/contact [QSA,PT,L]
RewriteRule ^products-lace\ wigs.htm$ h.php/Product/index/cate_id/1 [QSA,PT,L]
RewriteRule ^products-toupee.htm h.php/Product/index/cate_id/2 [QSA,PT,L]
RewriteRule ^products-frontal.htm h.php/Product/index/cate_id/3 [QSA,PT,L]
RewriteRule ^products-weft\ hair.htm h.php/Product/index/cate_id/4 [QSA,PT,L]
RewriteRule ^products-prebonded\ hair.htm h.php/Product/index/cate_id/5 [QSA,PT,L]
RewriteRule ^products-color\ chart.htm h.php/Product/index/cate_id/6 [QSA,PT,L]
RewriteRule ^products-mannequin\.htm h.php/Product/index/cate_id/7 [QSA,PT,L]

RewriteRule ^products.htm$ h.php/Product/index [QSA,PT,L]
errorDocument 404 /404.html
</IfModule>