<IfModule mod_rewrite.c> 
RewriteEngine on
#RewriteCond %{HTTP_HOST} ^cocodiy.com [NC]
#RewriteRule ^(.*)$ http://www.cocodiy.com/$1 [L,R=301]
#RewriteRule (.*)A(.*) $1B$2 [QSA,PT,N]
#product/p-2ps-3.html product/p/2ps.html  product/p/2ps/3.html product/p/2/ps/3.html
#product/p-2ps-3o-idok-asc.html product/p/2ps3o-idok-asc.html  product/p/2ps/3o-idok-asc.html product/p/2/ps/3o-idok-asc.html product/p/2/ps/3o-idok-asc.html 
#product/p-2.html
#RewriteRule (.*) index.php/$1 [QSA,PT,N]

#Index MOD
RewriteRule ^aboutus\.html$ index.php/Index/aboutus [QSA,PT,L]
RewriteRule ^market\.html$ index.php/Index/market [QSA,PT,L]
RewriteRule ^factory\.html$ index.php/Index/factory [QSA,PT,L]
RewriteRule ^sitemap\.html$ index.php/Index/sitemap [QSA,PT,L]
RewriteRule ^contact\.html$ index.php/Index/contact [QSA,PT,L]
RewriteRule ^service\.html$ index.php/Index/service [QSA,PT,L]
RewriteRule ^order\.html$ index.php/Index/order [QSA,PT,L]
RewriteRule ^feedback\.html$ index.php/Index/feedback [QSA,PT,L]
RewriteRule ^faq\.html$ index.php/Index/faq [QSA,PT,L]
RewriteRule ^policy\.html$ index.php/Index/policy [QSA,PT,L]
RewriteRule ^index_(.*)\.html$ index.php/Index/index/lang/$1 [QSA,PT,L]
#GB MOD
RewriteRule (.*)-p-(.*) $1/p/$2 [QSA,PT,N]
RewriteRule (.*)-ps-(.*) $1/ps/$2 [QSA,PT,N]
RewriteRule (.*)-o-(.*) $1/oby/$2 [QSA,PT,N]
RewriteRule (.*)-ps-(.*) $1/ps/$2 [QSA,PT,N]
RewriteRule (.*)-ok-asc(.*) $1/okey/asc$2 [QSA,PT,N]
RewriteRule (.*)/cate-(.*) $1/index/cate_id/$2 [QSA,PT,N]
#PRODUCT
RewriteRule ^items(.*) index.php/Product$1 [QSA,PT,N]
RewriteRule (.*)Product/id-(.*) $1/Product/view/product_id/$2 [QSA,PT,L]
RewriteRule (.*)Product/material-(.*) $1/Product/index/attr_7/$2 [QSA,PT,L]
RewriteRule (.*)Product/userfor-(.*) $1/Product/index/attr_8/$2 [QSA,PT,L]
#News
RewriteRule ^article(.*) index.php/News$1 [QSA,PT,N]
RewriteRule (.*)News/id-(.*) $1/News/view/news_id/$2 [QSA,PT,L]

#Download
RewriteRule ^download(.*) index.php/Download$1 [QSA,PT,N]
RewriteRule (.*)Download/id-(.*) $1/Download/view/download_id/$2 [QSA,PT,L]
errorDocument 404 /404.html
</IfModule>