@charset "utf-8";
/* CSS Document */
#header {
    background: url(../Images/header_bg_rp.jpg);
}

.header_bg {
    background: url(../Images/header_bg.jpg) right center no-repeat;
    width: 100%;
    height: 110px;
    position: relative;
}
.header_logo {
	position:absolute;
	top:16px;
	left:50px;
}
.header_link {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #fff;
}

.header_link a {
    padding: 3px;
    margin: 0px;
}

.top_nav {
    margin: 0px auto;
    height: 26px;
    background: url(../Images/bg_menu.jpg);
    width: 994px;
    border-bottom: 1px #ccc solid;
    padding: 6px 0px 0px 6px;
	position:relative;
	z-index:2000;
}

/*
 LEVEL ONE
 */
ul.dropdown {
    position: relative;
    margin-left: 10px;
}

ul.dropdown li {
    float: left;
    zoom: 1;
}

ul.dropdown li a {
    display: block;
    float: left;
    padding: 0;
    margin: 0 4px;
    color: #2F5583;
}

ul.dropdown a span {
    padding: 0px 16px;
    display: block;
    float: left;
    height: 21px;
    line-height: 18px
}

ul.dropdown li.hover a, ul.dropdown a.alive, ul.dropdown a:hover {
    background: url("../Images/bg_menu_right.gif") no-repeat right;
    color: #FFF;
}

ul.dropdown li.hover a span, ul.dropdown a.alive span, ul.dropdown a:hover span {
    background: url(../Images/bg_menu_left.gif) no-repeat left;
}
* html ul.dropdown li a span {
    padding: 0px 16px;
    cursor: pointer;
}

ul.dropdown a:hover {
    color: #fff;
}

ul.dropdown a.alive span {
    background: url("../Images/bg_menu_left.gif") left center no-repeat;
}

ul.dropdown a:active {
    color: #fff;
}

ul.dropdown li:last-child a {
    border-right: none;
}

/* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
    color: #fff;
    position: relative;
}

ul.dropdown li.hover a {
    color: #fff;
}

/*
 LEVEL TWO
 */
ul.dropdown ul {
    width: 160px;
    visibility: hidden;
    position: absolute;
    background: #2888D9;
    top: 100%;
    left: 10px;
}

ul.dropdown ul li {
    font-weight: normal;
    line-height: 22px;
    height: 22px;
    display: block;
    background: #2888D9;
    color: #fff;
    border-bottom: 1px solid #cecece;
    float: none;
}

ul.dropdown ul li.hover, ul.dropdown ul li:hover {
    color: #fff;
    background: #2b7cc7;
}

ul.dropdown ul li.hover a, ul.dropdown ul li:hover a {
    background: url(image-url.gif);
}

ul.dropdown .sub_menu li a, ul.dropdown .sub_menu li.hover a {
    background: none;
}

ul.dropdown ul li.hover a span, ul.dropdown ul a.alive span, ul.dropdown ul a:hover span {
    background: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
}

/*
 LEVEL THREE
 */
ul.dropdown ul ul {
    left: 100%;
    top: 0;
}

ul.dropdown ul ul li {
    border-left: 1px solid #fff;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

.map {
    float: right;
    padding-right: 6px;
}

/* slide box */
#slide_box {
    background: url(../Images/bg01.jpg) repeat-x;
    width: 1000px;
    margin: 0px auto;
    height: 314px;
    overflow: hidden;
	position:relative;
	z-index:0;
}

#imgPlay {
    MARGIN: 0px auto;
    OVERFLOW: hidden;
    WIDTH: 1000px;
    ZOOM: 1;
    POSITION: relative;
    HEIGHT: 310px
}

#imgPlay .imgs IMG {
    BORDER-RIGHT: #dbdbdb 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #dbdbdb 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #dbdbdb 1px solid;
    WIDTH: 996px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #dbdbdb 1px solid
}

#imgPlay .imgs LI {
    FLOAT: left;
    POSITION: relative
}

#imgPlay .imgs {
    WIDTH: 5760px
}

#imgPlay .btn {
    RIGHT: 12px;
    OVERFLOW: hidden;
    WIDTH: 112px;
    BOTTOM: 12px;
    TEXT-INDENT: -9999px;
    POSITION: absolute;
    HEIGHT: 29px;
}

#imgPlay .btn A {
	background-image:url(../Images/Slide/bg.png);
    BACKGROUND-POSITION: 0px 0px;
    DISPLAY: block;
    WIDTH: 112px;
    HEIGHT: 29px;
}

#imgPlay .btn A:hover {
    BACKGROUND: url(../Images/Slide/bg.png) no-repeat;
    BACKGROUND-POSITION: 0px -30px;
}

#imgPlay .prev {
    BACKGROUND: url(../Images/Slide/imgPlayer.png) no-repeat 0px 0px;
    LEFT: 1px;
    WIDTH: 46px;
    CURSOR: pointer;
    TEXT-INDENT: -9999px;
    POSITION: absolute;
    TOP: 110px;
    HEIGHT: 81px
}

#imgPlay .next {
    BACKGROUND: url(../Images/Slide/imgPlayer2.png) no-repeat 0px 0px;
    LEFT: 1px;
    WIDTH: 46px;
    CURSOR: pointer;
    TEXT-INDENT: -9999px;
    POSITION: absolute;
    TOP: 110px;
    HEIGHT: 81px;
}

#imgPlay .next {
    RIGHT: 1px;
    LEFT: auto
}

#imgPlay .num {
    DISPLAY: inline;
    LEFT: 400px;
    POSITION: absolute;
    TOP: 275px;
    HEIGHT: 19px
}

#imgPlay .num SPAN {
    DISPLAY: inline-block;
    BACKGROUND: url(../Images/Slide/imgPlayer.png) no-repeat -19px -83px;
    MARGIN: 0px 2px;
    OVERFLOW: hidden;
    WIDTH: 14px;
    CURSOR: pointer;
    LINE-HEIGHT: 0;
    HEIGHT: 13px
}

#imgPlay .num SPAN.on {
    BACKGROUND-POSITION: 1px -83px
}

#imgPlay .num .lc {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../Images/Slide/lc.png) no-repeat;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    WIDTH: 13px;
    PADDING-TOP: 3px;
    HEIGHT: 16px
}

#imgPlay .num .mc {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../Images/Slide/lc.png) no-repeat;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    WIDTH: 13px;
    PADDING-TOP: 3px;
    HEIGHT: 16px
}

#imgPlay .num .rc {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../Images/Slide/lc.png) no-repeat;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    WIDTH: 13px;
    PADDING-TOP: 3px;
    HEIGHT: 16px
}

#imgPlay .num .mc {
    BACKGROUND: url(../Images/Slide/mc.png) repeat-x
}

#imgPlay .num .rc {
    BACKGROUND: url(../Images/Slide/rc.png) no-repeat
}

#imgPlay #numInner {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 3px;
    POSITION: absolute;
    TOP: 275px;
    TEXT-ALIGN: center
}

.search_box {
    width: 1000px;
    height: 25px;
    margin: 0px auto;
    padding: 3px 0px;
    border-bottom: solid 1px #CECECE;
    background: url("../Images/bg_search.jpg") repeat-x;
}

.search_box h1 {
    color: #245b9f;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}

.search_box .left {
    float: left;
    width: 579px;
    line-height: 18px;
    margin-left: 20px;
    overflow: hidden;
}

.search_box .left .tab_box {
    float: left;
    height: 178px;
    width: 370px;
}

.search_box .right {
    float: left;
    margin-left: 20px;
    width: 332px;
    overflow: hidden;
}

.search_box .right a {
    width: 152px;
    height: 176px;
    border: 1px #3597c8 solid;
    display: block;
    float: left;
    background: #fff;
    text-align: center;
    color: #FFF;
    margin-right: 23px;
    line-height: 12px;
}

.search_box .right a img {
    margin: 9px auto;
}

.search_box .right a span {
    background: #3597c8;
    display: block;
    height: 28px;
    line-height: 12px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

.search_box .right a:hover, .search_box .right .on {
    width: 150px;
    height: 174px;
    border: 2px #245a9f solid;
    display: block;
    float: left;
    background: #fff;
    text-align: center;
    color: #FFF;
}

.search_box .right a:hover img, .search_box .right .on img {
    margin: 8px auto 9px auto;
}

.search_box .right a:hover span, .search_box .right .on span {
    background: #245a9f;
    display: block;
    height: 28px;
    line-height: 12px
}

.main_contact {
    border-top: 1px dotted #CCCCCC;
    padding: 17px 22px;
    margin: 0px auto;
    margin-top: 10px;
    width: auto;
    color: #8c8c8c;
    line-height: 20px;
    vertical-align: top;
    font-size: 11px;
}

/* menu  */
.menu_l {
    background: #EBEBEB;
}

.menu_l .title {
    font-size: 18px;
    color: #FFF;
    background: url(../Images/bg_sidebar.gif);
    height: 27px;
    padding: 9px 0px 0px 22px
}

.menu_l .title1 {
    font-size: 18px;
    color: #000;
    background: url(../Images/bk01.jpg) no-repeat center 33px;
    height: 27px;
    padding: 3px 0px 5px 12px
}

.menu_l ul {
    margin: 7px 0px;
}

.menu_l ul li {
}

.menu_l ul li a {
    border-bottom: 1px #fff dotted;
    display: block;
    padding-left: 26px;
    line-height: 24px;
    color: #000;
    background: url(../Images/ico01.gif) no-repeat 10px 10px;
}

.menu_l ul li a:hover, .menu_l ul li .on_1 {
    color: #fff;
    background: url(../Images/ico01.gif) no-repeat 10px 10px #758a8f;
}

.menu_l ul li ul {
    margin: 0px 0px 3px 0px;
}

.menu_l ul li ul li {
    background: none;
}

.menu_l ul li ul li a {
    background: none;
    line-height: 22px;
    border-bottom: 1px #ebebeb dotted;
    color: #000;
}

.menu_l ul li ul li a:hover, .menu_l ul li ul li .on {
    background: url(../Images/ico04.gif) no-repeat 160px 10px #758a8f;
    border-bottom: 1px #fff dotted;
    font-weight: normal;
    color: #fff;
}

/* index  */
.content_l {
}

/* product list  */
#content {
    margin-top: 10px;
}

.navs {
    height: 17px;
    border-bottom: 1px #ccc dotted;
    padding: 16px 0px 0px 8px;
    color: #747474;
}

.navs span {
    color: #026bad;
}

.uc_title {
    font-weight: normal;
    font-family: Impact;
    font-size: 36px;
    color: #026bad;
    line-height: 72px;
    border-bottom: 1px #ccc solid;
    text-align: center;
}

.uc_info {
    line-height: 22px;
    padding: 10px;
}

/*.uc_info strong{color:#000;}*/
.uc_info .about a {
    color: #000;
}

.uc_info .about a:hover {
    background: #e95e02;
    color: #fff;
}

.pro_list ul {
}

.pro_item {
    position: relative;
    margin-bottom: 5px;
    height: 160px;
    border-bottom: 1px dotted #cecece;
}

.pro_img {
    position: absolute;
    left: 2px;
    top: 2px;
}

.pro_img img {
    padding: 2px;
    border: 1px solid #ececec;
}

.pro_tit {
    position: absolute;
    left: 180px;
    top: 10px;
    padding: 2px;
    font-size: 16px;
    font-family: Arial;
}

.pro_intr {
    position: absolute;
    left: 180px;
    top: 40px;
    padding: 2px;
}

.pro_attr {
    position: absolute;
    left: 180px;
    top: 110px;
    padding: 2px;
}
.pro_attr span {
	margin-right:10px;
}
.pro_more {
    position: absolute;
    right: 10px;
    bottom: 6px;
    padding: 1px 8px;
    border: 1px solid #CECECE;
}

.pro_pics {
    width: 430px;
    border: solid 1px #CECECE;
    padding: 10px;
}

.pro_attrs {
    width: 310px;
    min-height: 420px;
    height: auto !important;
    height: 420px;
    overflow: visible;
}

.pro_attrs .attr_box {
    width: 100%;
    display: block;
}

.pro_attrs .attr_box li {
    width: 100%;
    display: block;
    margin-top: 8px;
}

.pro_attrs .attr_box li strong {
    width: 100px;
    text-align: right;
    margin-right: 5px;
    white-space: normal;
    font-family: Arial;
    color: #676767;
    display: table-cell;
    display: inline-block;
    *display:inline;
    zoom:
    1;
    vertical-align: top;
}

.kf_box {
    width: 90%;
    background: #FFF3D9;
    border: 1px solid #FCBB29;
    position: relative;
    z-index: 99999;
    padding-bottom: 10px;
}

.kf_box li {
    width: 100%;
    display: block;
    margin-top: 3px;
    color: #676767;
    font-size: 11px;
    line-height: 20px;
    text-indent: 1em;
}

.pro_pn {
    margin-left: 5px;
    font-size: 12px;
}

.pro_pn span {
    text-align: right;
    margin-right: 5px;
    white-space: normal;
    font-family: Arial;
    color: #676767;
    display: table-cell;
    display: inline-block;
    *display:inline;
    zoom:
    1;
    vertical-align: top;
}

.pro_pn h3 a {
    line-height: 20px;
    font-size: 12px;
    font-family: Arial;
    color: #026BAD;
}

.pro_nav {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bolder;
    color: #026BAD;
    border-bottom: solid 1px #dedede;
    text-indent: 2px;
    height: 35px;
    line-height: 35px;
}

.pro_detail {
    line-height: 21px;
    font-size: 12px;
}

.pro_relas li {
    border: 2px solid #2F8FE3;
    display: block;
    float: left;
    height: 182px;
    margin-left: 8px;
    margin-right: 8px;
    width: 164px;
    margin-top: 10px;
    overflow: hidden;
}

.pro_relas li .th {
    background: #fff;
    width: 164px;
    height: 150px;
    text-align: center;
}

.pro_relas li .th img {
    margin: 2px;
}

.pro_relas li h3 {
    font-size: 12px;
    color: #FFF;
    line-height: 10px;
    height: 32px;
    width: 100%;
    text-align: center;
}

.pro_relas li h3 a {
    display: block;
    height: 32px;
    width: 164px;
    line-height: 32px;
    background: #3597c8;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

.pro_relas li:hover {
    border: 2px #245a9f solid;
}

.pro_relas li:hover h3 a {
    background: #245a9f;
}

.content_r .flbox {
    float: left;
    width: 365px;
    line-height: 16px;
    margin-right: 20px;
    margin-top: 8px;
}

.content_r .flbox span {
    font-size: 24px;
    line-height: 48px;
}

.content_r .flbox p {
    line-height: 20px;
}

.content_r .flbox a {
    text-decoration: underline;
    font-size: 10px;
    line-height: 2.5em;
}

.content_r .flbox .more {
    text-align: right;
}

/* news */
.art_list li {
    background: url("../Images/icon/d1.gif") no-repeat scroll 10px center transparent;
    border-bottom: 1px dashed #CDCDCD;
    padding: 10px 0 10px 20px;
}

.art_info {
    color: #404040;
    font-size: 14px;
    line-height: 26px;
}

.nextactive li {
    float: left;
    width: 304px;
    color: #aaa;
}

.nextactive li.nextup {
    text-align: left;
}

.nextactive li.nextdw {
    text-align: right;
}

.nextactive li a {
    color: #666;
}

.nextactive li a:hover {
    color: #f00;
}

/* footer */
#footer {
    border-top: 1px solid #B9BABE;
    padding-top: 1px;
    color: #7D7D7D;
}

#footer .link {
    padding: 10px;
    background: #DBDCE1;
    margin: 0px;
}

#footer .link a {
    padding: 3px;
    margin: 0px;
    color: #7D7D7D;
}

#footer .copyright {
    background: #DBDCE1;
    padding: 10px;
    text-align: center;
    color: #636363;
}

div.ic_myCarousel, div.ic_myCarousel2 {
	margin: 20px auto 0 auto;
	clear:right;
}
.ic_myCarousel .ic_button {
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 0 4px 0 2px;
	width: 28px;
	border: 1px solid #eee;
	background: #026BAD;
}
.ic_thumbnails {
	display: inline-block;
	font: bold 14px Arial, sans-serif;
}
.ic_myCarousel .ic_active  {
	background: #fff;
	border: 1px solid #faa;
}
.ic_caption {
	opacity: .6;
	background: #fff;
	font-size: 12px;
	font-family: arial;
	padding: 4px 8px;
	width: auto;
}
