<div class="accordion" fillSpace="sidebar">
    <div class="accordionHeader">
        <h2><span>Folder</span>产品管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Product/index')}" target="navTab" rel="Product_index" title="产品管理">管理</a>
            </li>
            <li>
                <a href="{:U('Pcate/index')}" target="navTab" rel="Pcate_index" title="产品分类">分类</a>
            </li>
        </ul>
    </div>
</div>
