<div class="accordion" fillSpace="sidebar">
    <div class="accordionHeader">
        <h2><span>Folder</span>资讯</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('News/index')}" target="navTab" rel="News_index" title="资讯管理">管理</a>
            </li>
            <li>
                <a href="{:U('Ncate/index')}" target="navTab" rel="Ncate_index" title="资讯栏目">栏目</a>
            </li>
        </ul>
    </div>
</div>
