<div id="header">
    <div class="headerNav">
        <a class="logo" href="#nogo">LOGO</a>
		<span class="version" href="#nogo">{:C('SYS_VERSION')}</span>
        <ul class="nav">
            <li style="color:#fff">
                Welcome,Sysadmin
            </li>
            <li>
                <a href="#nogo" target="dialog">帮助</a>
            </li>
            <li>
                <a href="{:U('Index/logout')}">退出</a>
            </li>
        </ul>
    </div>
    <include file="Layout:b_menu_top"/>
</div>