.cred {
    color: red;
}

.cblue {
    color: blue;
}

.tbutton,a.tbutton {
    background: url("../Images/bt.jpg");
    color: #666;
    padding: 2px 7px;
    cursor: pointer;
	line-height: 20px;
    text-decoration: none;
    font-size: 12px;
	margin-left:5px;
	border:1px solid #d5d5d5;
}
.tbutton, a.tbutton:hover{
	 background: url("../Images/bton.jpg") ;
}

table.list a {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}

table.list a.tbutton:hover {
    text-decoration: none;
}

.progress {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-top: 4px;
    border: 1px solid #aaa;
    background: url(../ProgressBar/images/progressbg_green.gif) -120px -1px no-repeat;
    text-align: center;
    color: #666;
}

.unit_info {
    color: #112846;
    float: left;
    font-weight: bold;
    line-height: 20px;
}

.unit_text {
    color: #112846;
    float: left;
    font-weight: bold;
    line-height: 20px;
}

.unit_thumb {
    clear: both;
    float: none;
    margin-left: 130px;
    position: relative;
}

.unit_thumb_del {
    position: absolute;
    top: 3px;
    left: 3px;
}

.headerNav .version {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bolder;
    color: #fff;
    line-height: 50px;
    margin-left: -20px;
}

table.list .selected {
    background: #dfdfdf;
}

ul.rightTools {
    float: right;
    display: block;
}

ul.rightTools li {
    float: left;
    display: block;
    margin-left: 5px
}
