<div class="search_box mb">
    <div class="left">
        <form id="form1" name="form1" method="get" action="{:U('Product/index')}">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <strong class="font_black">Products:&nbsp;</strong>
                        </td>
                        <td>
                            <input name="name" class="btn1" type="text">
                        </td>
                        <td>
                            <strong class="font_black">Material:&nbsp;</strong>
                        </td>
                        <td>
                            <select name="attr_7" id="{$domid}_attr_7" class="btn1">
                                <option value="">Please select</option>
                                <volist name="sets.material" id="mvo">
                                    <option value="{$key}">{$mvo}</option>
                                </volist>
                            </select>
                        </td>
                        <td>
                            <strong class="font_black">Use for:&nbsp;</strong>
                        </td>
                        <td>
                            <select name="attr_8" id="{$domid}_attr_8" class="btn1">
                                <option value="">Please select</option>
                                <volist name="sets.usefor" id="mvo">
                                    <option value="{$key}">{$mvo}</option>
                                </volist>
                            </select>
                        </td>
                        <td>
                            <input value="Search" height="18" type="submit" width="64">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="right1">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <strong class="blue">Talk to Us Now:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </td>
                    <td>
                        <a href="{$webinfo.webmsn}"><img src="../Public/Images/btn_msn.gif" class="btn1" height="21" width="76"></a><a href="callto_3a/{$webinfo.webskype}"><img src="../Public/Images/btn_skype.gif" class="btn1" height="21" width="76"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>