<div class="search_box mb">
    <div class="left">
        <form id="form1" name="form1" method="get" action="docc/products_search.php">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <strong class="font_black">Products:&nbsp;</strong>
                        </td>
                        <td>
                            <input name="textfield" class="input1" id="textfield" type="text">&nbsp;&nbsp;
                        </td>
                        <td>
                            <input name="submit" value="Search" height="18" type="submit" width="64">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="right1">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <strong class="blue">Talk to Us Now:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </td>
                    <td>
                        <a href="msnim_3achat@contact=fubei_0226_40hotmail.com"><img src="../Public/Images/btn_msn.gif" class="btn1" height="21" width="76"></a><a href="callto_3a/acemade.juniss"><img src="../Public/Images/btn_skype.gif" class="btn1" height="21" width="76"></a>
                    </td>
                    <td>
                        <a href="#" class="phone"><span>+86-574-87369417</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
