<div class="hr">
</div>
<div id="footer">
    <p class="link mt">
        <a href="{:U('Index/index')}">Home</a>
        |<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
		|<a href="{:U('Product/index')}">Gloves</a>
        |<a href="{:U('Product/index')}">Site Map</a>
    </p>
    <p class="copyright">
        <strong>CopyRight © 2003-2012 {$webinfo.webcom}. All rights reserved. ICP:{$webinfo.webicp} .</strong>
    </p>
    <!--end youqinglink-->
</div>
<!--end footer-->
</body>
</html>
