@charset "utf-8";
/* CSS Document */
/*css reset star*/
html								{color:#000;background:#FFF;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,
dl,dt,dd,ul,ol,li,pre,form,fieldset,
legend,button,input,textarea,th,td	{margin:0;padding:0;}
body,button,input,select,textarea	{font:12px/1.5 tahoma, arial, \5b8b\4f53;}
h1,h2,h3,h4,h5,h6					{font-size:100%;}
address,cite,dfn,em,var				{font-style:normal;}
code,kbd,pre,samp					{font-family:courier new, courier, monospace;}
small								{font-size:12px;}
ul,ol								{list-style:none;}
a									{text-decoration:none;}
a:hover								{text-decoration:none;color:#F00;}
sup									{vertical-align:text-top;}
sub									{vertical-align:text-bottom;}
legend								{color:#000;}
fieldset,
img									{border:0;}
button,
input,
select,
textarea							{font-size:100%;}
table								{border-collapse:collapse; border-spacing:0;}
a									{text-decoration:none;color:#000;}
a:hover, a:focus					{text-decoration:none;color:#f00;}

strong								{font-weight:bold;}
input[type=submit]					{cursor:pointer;}
button								{cursor:pointer;}
input, label, img, th				{vertical-align: middle;}



/*css reset end*/

.hr 								{font-size:1px;line-height:1px;clear:both;height:10px;}/*留出10像素的间隙*/
.clear								{clear:both;font-size:1px; height:1px; line-height:1px;}/*清楚ie6 浮动造成的重复文字*/
.m									{margin:0 auto;}
.b									{font-weight:bold;}
span.none-b							{font-weight:normal;}
.pos-rel							{position:relative;}
.w960								{width:960px;}
.border_none						{border:none;}
.display_none						{display:none;}
/*f_开头为float漂浮,l:左 r:右*/
.fl									{float:left;}
.fr									{float:right;}

/*m_开头位margin边距,t:上 b:下 l:左 r:右*/
.mt									{margin-top:10px;}
.mb									{margin-bottom:10px;}
.ml									{margin-left:10px;}
.mr									{margin-right:10px;}

.mb20								{margin-bottom:20px;}
.mb26								{margin-bottom:26px;}
.mb15								{margin-bottom:15px;}
.mt20								{margin-top:20px;}
.mb5								{margin-bottom:5px;}
.mb4								{margin-bottom:4px;}
.mr8								{margin-right:8px;}
.mr4								{margin-right:4px;}



.pa_tb10							{padding:10px 0;}
.pa5								{padding:5px;}
.pa10								{padding:10px;}
.pa8								{padding:8px;}

/*c_开头为字体颜色*/
.gray,a.gray						{color:#333;}
.gray6,a.gray6						{color:#666;}
.blue,a.blue						{color:#0079b3;}
.red,a.red							{color:#c00;}
.green,a.green						{color:#090;}
.orange,a.orange					{color:#f60;}
.white,a.white					    {color:#fff;}

a.uline								{text-decoration:underline;}

.clearfix:after						{content:"."; height:0; visibility:hidden; display:block; clear:both; }
.clearfix							{display:inline-block; }
.clearfix							{display:block; }

/*w_开头表示宽度,bdr_为对边框的设置,这两个组合使用*/
.w200								{width:200px;}
.w220								{width:220px;}
.w300								{width:300px;}
.w560								{width:560px;}
.w690								{width:690px;}
.w720								{width:720px;}
.w730								{width:730px;}
.w750								{width:750px;}
.w770								{width:770px;}


/*fh_开头的是行距*/
.fh18								{line-height:18px;}
.fh21								{line-height:21px;}
.fh30								{line-height:30px;}
/*fs_开头的是字体大小*/
.fs12								{font-size:12px;}
.fs14								{font-size:14px;}
/*v开头表示垂直对齐方式，t开头横向对齐方式，组合使用*/
.vt									{vertical-align:top;}
.vm									{vertical-align:middle;}
.tc									{text-align:center;}
.tr									{text-align:right;}
.wp									{word-wrap:break-word;word-break:normal;}/*字符串不换行*/

/*最小高度*/
.mh600								{min-height:600px;height:auto !important;height:600px;overflow:visible;}
.mh350								{min-height:350px;height:auto !important;height:350px;overflow:visible;}

/*图片隐藏*/
.img_h								{display:block;overflow:hidden;text-align:center;}
.img_box							{display:block;}

.bk_element							{display:table-cell; display:inline-block; *display:inline;zoom:1; vertical-align:top; }

/*-----------------------------------------------------------------------------------------*/
.pice2 {font-size:14px;font-weight:bold;color:#f60;height:19px;line-height:19px;}
.pice2 s {width:10px;height:10px;margin:4px 5px 0 0;background:url(../images/icon_homepage.gif) no-repeat;margin-top:5px;*margin-top:3px;}
.pice2 .s1 {background-position:0 -210px;}


/*皮肤样式布局*/
#header .form .sub					{background:url(../images/main_icon.png) no-repeat;}

/*布局样式*/
#header,#content,#footer,.top_nav, .toolbar .tool{width:1000px; margin:0 auto;}
#header								{}
#header.mb							{margin-bottom:10px;}

.btn1 {
    border: 1px solid #CECECE;
    margin-right: 10px;
}
.phone{display:block;height:25px;background:url(../images/bg_phone_right.jpg) right;font-size:11px}
.phone span{display:block;height:25px;background:url(../images/bg_phone_left.jpg) left no-repeat;padding-left:30px;padding-right:10px;line-height:25px;cursor:pointer;}