<div id="navMenu">
    <ul style="padding-left:20px;">
        <li class="selected">
            <a href="{:U('Index/menu?id=set')}"><span>系统配置</span></a>
        </li>
        <li>
            <a href="{:U('Index/menu?id=base')}"><span>企业信息</span></a>
        </li>
        <li>
            <a href="{:U('Index/menu?id=news')}"><span>资讯管理</span></a>
        </li>
        <li>
            <a href="{:U('Index/menu?id=product')}"><span>产品管理</span></a>
        </li>
		<!-- 
        <li>
            <a href="{:U('Index/menu?id=msg')}"><span>留言管理</span></a>
        </li>
		-->
        <li>
            <a href="{:U('Index/menu?id=tool')}"><span>网站工具</span></a>
        </li>
    </ul>
</div>
