<div class="accordion" fillSpace="sidebar">
    <div class="accordionHeader">
        <h2><span>Folder</span>管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Kefu/index')}" target="navTab" rel="Kefu_index">客服管理</a>
            </li>
            <li>
                <a href="{:U('Index/ckfinder')}" target="navTab" rel="Ckfinder" external="true">图片管理</a>
            </li>
			 <li>
                <a href="{:U('Download/index')}" target="navTab" rel="Download_index">下载管理</a>
            </li>
            <li>
                <a href="{:U('Index/lsimg')}" target="navTab" rel="Index_lsimg">添加水印</a>
            </li>
        </ul>
    </div>
    <div class="accordionHeader">
        <h2><span>Folder</span>性能</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Index/cache')}" target="dialog" rel="Index_cache" width="280" height="240" mask="true">清空缓存</a>
            </li>
        </ul>
    </div>
    <div class="accordionHeader">
        <h2><span>Folder</span>备份</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Index/bksql')}" target="dialog" rel="Index_bksql" width="280" height="240" mask="true">数据库备份</a>
            </li>
        </ul>
    </div>
</div>
