<div class="accordion" fillSpace="sidebar">
	<!-- 
	<div class="accordionHeader">
        <h2><span>Folder</span>Company Info</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Info/edit?info_id=1')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">AboutUs</a>
            </li>
			<li>
                <a href="{:U('Info/edit?info_id=2')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">ContactUs</a>
            </li>
			<li>
                <a href="{:U('Info/edit?info_id=5')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">FactoryView</a>
            </li>
			<li>
                <a href="{:U('Info/edit?info_id=6')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">MarketInWorld</a>
            </li>
        </ul>
    </div>
	-->
    <div class="accordionHeader">
        <h2><span>Folder</span>企业信息</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Info/edit?info_id=1')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">AboutUs</a>
            </li>
			<li>
                <a href="{:U('Info/edit?info_id=2')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">Contact</a>
            </li>
			<li>
                <a href="{:U('Info/edit?info_id=3')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">Policy</a>
            </li>
			<li>
                <a href="{:U('Info/edit?info_id=4')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">FAQ</a>
            </li>
            <li>
                <a href="{:U('Info/index')}" target="navTab" rel="Info_index">全部列表</a>
            </li>
        </ul>
    </div>
</div>
