<div class="accordion" fillSpace="sidebar">
    <div class="accordionHeader">
        <h2><span>Folder</span>常用管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Info/edit?info_id=1')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">公司简介</a>
            </li>
            <li>
                <a href="{:U('Info/edit?info_id=2')}" target="dialog" rel="Info_edit" width="800" height="560" mask="true">联系方式</a>
            </li>
            <li>
                <a href="{:U('Product/index')}" target="navTab" rel="Product_index" title="产品管理">产品管理</a>
            </li>
            <li>
                <a href="{:U('Pcate/index')}" target="navTab" rel="Pcate_index" title="产品分类">产品分类</a>
            </li>
			<li>
                <a href="{:U('Kefu/index')}" target="navTab" rel="Kefu_index">客服管理</a>
            </li>
            <li>
                <a href="{:U('Flink/index')}" target="navTab" rel="Flink_index">友情连接</a>
            </li>
        </ul>
    </div>
    <div class="accordionHeader">
        <h2><span>Folder</span>设置</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Index/config')}" target="dialog" rel="Index_config" width="680" height="480" mask="true">网站设置</a>
            </li>
            <li>
                <a href="{:U('Set/index')}" target="navTab" rel="Set_index">网站参数</a>
            </li>
            <li>
                <a href="{:U('Index/cache')}" target="dialog" rel="Index_cache" width="280" height="240" mask="true">缓存</a>
            </li>
            <li>
                <a href="{:U('Index/set?set=sys')}" target="dialog" rel="Index_set" width="380" height="180" mask="true">密码设置</a>
            </li>
        </ul>
    </div>
</div>
