<div class="accordion" fillSpace="sidebar">
    <div class="accordionHeader">
        <h2><span>Folder</span>设置</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
        	<li>
                <a href="{:U('Kefu/index')}" target="navTab" rel="Kefu_index">客服管理</a>
            </li>
            <li>
                <a href="{:U('Index/ckfinder')}" target="navTab" rel="Ckfinder" external="true">图片管理</a>
            </li>
            <li>
                <a href="{:U('Index/set?set=sys')}" target="dialog" rel="Index_set" width="380" height="180" mask="true">密码设置</a>
            </li>
            <li>
                <a href="{:U('Index/config')}" target="dialog" rel="Index_config" width="680" height="480" mask="true">网站设置</a>
            </li>
            <li>
                <a href="{:U('Set/index')}" target="navTab" rel="Set_index">网站参数</a>
            </li>
            <li>
                <a href="{:U('Index/cache')}" target="dialog" rel="Index_cache" width="280" height="240" mask="true">缓存</a>
            </li>
        </ul>
    </div>
	
    <div class="accordionHeader">
        <h2><span>Folder</span>公告</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li>
                <a href="{:U('Bulletin/index')}" target="navTab" rel="Bulletin_index" title="公告管理">管理</a>
            </li>
            <li>
                <a href="{:U('Bcate/index')}" target="navTab" rel="Bcate_index" title="公告分类">分类</a>
            </li>
        </ul>
    </div>
</div>
