</div>
<div id="taskbar" style="left:0px; display:none;">
    <div class="taskbarContent">
        <ul>
        </ul>
    </div>
    <div class="taskbarLeft taskbarLeftDisabled" style="display:none;">
        taskbarLeft
    </div>
    <div class="taskbarRight" style="display:none;">
        taskbarRight
    </div>
</div>
<div id="splitBar">
</div>
<div id="splitBarProxy">
</div>
</div>
<div id="footer">
    Copyright &copy; 2010 <a href="#nogo" target="dialog">中科力天研发组</a>
</div>
<!--拖动效果-->
<div class="resizable">
</div>
<!--阴影-->
<div class="shadow" style="width:508px; top:148px; left:296px;">
    <div class="shadow_h">
        <div class="shadow_h_l">
        </div>
        <div class="shadow_h_r">
        </div>
        <div class="shadow_h_c">
        </div>
    </div>
    <div class="shadow_c">
        <div class="shadow_c_l" style="height:296px;">
        </div>
        <div class="shadow_c_r" style="height:296px;">
        </div>
        <div class="shadow_c_c" style="height:296px;">
        </div>
    </div>
    <div class="shadow_f">
        <div class="shadow_f_l">
        </div>
        <div class="shadow_f_r">
        </div>
        <div class="shadow_f_c">
        </div>
    </div>
</div>
<!--遮盖屏幕-->
<div id="alertBackground" class="alertBackground">
</div>
<div id="dialogBackground" class="dialogBackground">
</div>
<div id='background' class='background'>
</div>
<div id='progressBar' class='progressBar'>
    数据加载中，请稍等...
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16716654-1']);
    _gaq.push(['_trackPageview']);
    
    (function(){
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? ' https://ssl' : ' http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
