<notempty name="kefulist">
<link href="../Public/Css/kefu.css" rel="stylesheet" type="text/css" />
<SCRIPT type=text/javascript>
    var lastScrollY = 0;
    var fangxiang = 1;
    function FloatScroll(){
        var diffY;
        if (document.documentElement && document.documentElement.scrollTop) {
            diffY = document.documentElement.scrollTop;
        }
        else 
            if (document.body) {
                diffY = document.body.scrollTop;
            }
            else {
            }
        percent = .1 * (diffY - lastScrollY);
        if (percent > 0) {
            percent = Math.ceil(percent);
        }
        else {
            percent = Math.floor(percent);
        }
        document.getElementById("divQQbox").style.top = parseInt(document.getElementById("divQQbox").style.top) + percent + "px";
        lastScrollY = lastScrollY + percent;
    }
    
    $(function(){
        $("#divQQbox").hover(function(){
			//$(this).css({'width':'296px',"height":"432px" });
            $(this).stop(true, false);
			$(this).animate({'width':'266px',"height":$('.OnlineLeft').height() }, 300);
        }, function(){
			$(this).stop(true, false);
			$(this).animate({'width':'34px',"height":"96px" }, 300);
        })
        
        
    })
    window.setInterval("FloatScroll()", 1);
</SCRIPT>
<div class="QQbox" id="divQQbox" style="top:100px">
    <div class="Qlist" id="divOnline">
    	<div class="OnlineBtn">
        </div>
        <div class="OnlineLeft">
            <div class="con">
                <ul>
                	<volist name="kefulist" id="vo">
                		<li>
                			{$vo.name}:{$vo.code}
                		</li>
                	</volist>
                </ul>
            </div>
			<div class="con_end">
				&nbsp;
			</div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div>
</notempty>