<div class="title">
    Gloves Category
</div>
<ul id="product_cate">
    <volist name="product_cates" id="vo">
        <eq name="vo.parent_id" value="0">
            <li class="bigcate" id="bigcate_{$vo['cate_id']}">
                <a href="{:U('Product/index?cate_id='.$vo['cate_id'])}"
                    <eq name="_GET['cate_id']" value="$vo['cate_id']">
                        class="on" rel="{$vo['cate_id']}"
                    </eq>><strong>{$vo.name}</strong></a>
                <notempty name="vo.childs">
                    <ul class=""subcate" rel="{$vo['cate_id']}">
                        <volist name="vo.childs" id="cvo">
                            <li>
                                <a href="{:U('Product/index?cate_id='.$cvo)}"
                                    <eq name="_GET['cate_id']" value="$cvo">
                                        class="on" rel="{$vo['cate_id']}"
                                    </eq>>{$product_cates[$cvo]['name']}
                                </a>
                            </li>
                        </volist>
                    </ul>
                </notempty>
            </li>
        </eq>
    </volist>
</ul>
<div class="title1">
    Material Tag
</div>
<ul>
	<volist name="sets.material" id="vo">
	    <li>
	        <a href="{:U('Product/index?attr_7='.$key)}">{$vo}</a>
	    </li>
	</volist>
</ul>
<div class="title1">
    Usefor Tag
</div>
<ul>
	<volist name="sets.usefor" id="vo">
	    <li>
	        <a href="{:U('Product/index?attr_8='.$key)}">{$vo}</a>
	    </li>
	</volist>
</ul>
