<div class="hr">
</div>
<div id="footer">
    <p class="link mt">
        <a href="../index.php">Home</a>
        |<a href="../docc/products.php">Products</a>
        |<a href="../docc/about.php"> About Us</a>
        |<a href="../docc/qg.php">Quality Guarantee </a>|<a href="../docc/faqs.php"> Technical Information</a>
        | <a href="../docc/market.php">Market Area</a>
        |<a href="../docc/contact.php"> Contact Us</a>
        | <a href="../docc/quote.php">Request a Quote</a>
        | <a href="../docc/map.php">Site Map</a>
        |<a href="http://www.acemadegroup.com/">Acemade</a>
        | <a href="http://www.opticalfiber-tel.com/">Fiber Optic Patch Cord</a>
    </p>
    <p class="copyright">
        <strong>CopyRight © 2009 Acemade Group LTD. All rights reserved. ICP:07033233 .</strong>
    </p>
    <!--end youqinglink-->
</div>
<!--end footer-->
</body>
</html>
