<div class="top_nav">
    <div class="map">
        <a title="Site Map" href="docc/map.php"><img width="86" height="21" src="../Public/Images/btn_map.gif"></a>
    </div>
    <ul class="dropdown">
        <li>
            <a href="{:U('Index/index')}" class="alive"><span>Home</span></a>
        </li>
        <li>
            <a href="{:U('Product/index')}"><span>Gloves Category</span></a>
            <ul class="sub_menu">
                <volist name="product_cates" id="vo">
                    <eq name="vo.parent_id" value="0">
                        <li>
                            <a href="{:U('Product/index?cate_id='.$vo['cate_id'])}">{$vo.name}</a>
                            <notempty name="vo.childs">
                                <ul>
                                    <volist name="vo.childs" id="cvo">
                                        <li>
                                            <a href="{:U('Product/index?cate_id='.$cvo)}">{$product_cates[$cvo]['name']}</a>
                                        </li>
                                    </volist>
                                </ul>
                            </notempty>
                        </li>
                    </eq>
                </volist>
            </ul>
        </li>
        <li>
            <a href="{:U('Index/aboutus')}"><span>About Us</span></a>
        </li>
        <li>
            <a href="{:U('Index/quality')}"><span>Quality Guarantee</span></a>
        </li>
        <li>
            <a href="{:U('Index/marketarea')}"><span>Market In World</span></a>
        </li>
		<li>
            <a href="{:U('Index/articles')}"><span>Articles</span></a>
        </li>
        <li>
            <a href="{:U('Index/contactus')}"><span>Contact Us</span></a>
        </li>
    </ul>
</div>
<script>
    $(function(){
        $("ul.dropdown li").hover(function(){
            $(this).addClass("hover");
            $('ul:first', this).css('visibility', 'visible');
        }, function(){
            $(this).removeClass("hover");
            $('ul:first', this).css('visibility', 'hidden');
        });
        $("ul.dropdown li ul li:has(ul)").find("a:first").append(" &raquo; ");
    });
</script>
